{% block doc -%}
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
{%- block html %}
    <head>
    {%- block head %}
    <title>{% block title %}{% endblock title %}</title>

    {%- block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- endblock metas %}

    {%- block styles %}
    <script src="/static/js/query.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    {%- endblock styles %}
    {%- endblock head %}
    </head>
    <body{% block body_attribs %}{% endblock body_attribs %}>
    {% block body -%}
    {% block navbar %}
    <div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper indigo darken-4">
            <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
            <a href="#" class="brand-logo center">CRM</a>
            <ul id="nav-mobile" class="right">
                <li><a href="/auth/logout">Logout</a></li>
            </ul>
        </div>
    </nav>
    </div>
    {%- endblock navbar %}
    {% block content -%}
    {%- endblock content %}

    {% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/static/js/main.js"></script>
    {%- endblock scripts %}
    {% block footer %}
    {%- endblock footer %}
    {%- endblock body %}
    </body>
{%- endblock html %}
</html>
{% endblock doc -%}