{% extends 'user/base.html' %}
{% import "search.html" as s %}
{% import "pagination.html" as pg %}

{% block title %}Courses{% endblock %}

{% block style %}
{{ super() }}
<style>
    .card-action {

        border-top: 1px solid rgba(245, 241, 241, 0.5) !important;

    }

</style>
{% endblock %}


{% block content %}

<div class="container">

    <h4 class="center">Courses</h4>

    <div class="card">
        <div class="row">
            <div class="col s11">
                {{ s.search('user_bp.courses_get') }}
            </div>
            <div class="col s1">
                {{ pg.rows(courses, 'user_bp.courses_get') }}
            </div>
        </div>
    </div>

    
    <div class="row">
        {% for course in courses.items %}
        <div class="col s12 m4">
          <div class="card large">
            <div class="card-image">
              <img src="/static/images/books.jpg">
              
            </div>
            <div class="card-content" style="padding:2%">
                <h6 style="margin-top: 1%;">{{ course.name }}</h6>
              <p>{{ course.description }}</p>
            </div>
            <div class="card-action fit">
                <i class="material-icons amber-text">{{ 'star ' * (course.rating | round(0, 'floor') | int) }}</i>
                {% if (course.rating - course.rating | round(0, 'floor')) > 0 %}<i class="material-icons amber-text">star_half</i>{% endif %}
                <i class="material-icons grey-text">{{ 'star_border ' * (5 - course.rating | round(0, 'ceil') | int) }}</i>
                <button id="{{ course.id }}" class="btn right" onclick="fetchdata(event)">Enquire</button>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
             


    {{ pg.pagination(courses, 'user_bp.courses_get') }}

</div>


<div id="modal1" class="modal">
    <input type="hidden" id="txtId">
    <div class="modal-content">
        <h4 class="title center" id="coursetitle">Course Title</h4>
        <p id="coursedescr">Course Description Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta corrupti
            doloremque odit, impedit repellat quo nam laboriosam iure est! Aspernatur quibusdam cumque ab dolores
            aliquid iusto voluptatem ipsam dignissimos quaerat!</p>
    </div>

    <div class="row fl-box">

        <div class="col s4 m4 center">
            <label>Trainer:</label>
            <span id="trainer">Trainer Name</span>
        </div>
        <div class="col s4 m4 center">
            <label>Duration:</label>
            <span id="duration">Duration</span>
        </div>
        <br>
        <div class="col s4 m4 center">
            <label>Status:</label>
            <span id="status">Status</span>
        </div>
        <div class="col s4 m4 center">
            <label>Qualification:</label>
            <span id="qualification">Qualification</span>
        </div>
        <div class="col s4 m4 center">
            <label>Category:</label>
            <span id="category">Category</span>
        </div>

    </div>
<center>
    <iframe  width="560" height="315" src="https://www.youtube.com/embed/Qr4QMBUPxWo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</center>

    <div class="modal-footer">
        <a href="#modal2" class="modal-close waves-effect btn-flat  green " onclick="enquire()">Enquire</a>
        <a href="#!" class="modal-close waves-effect waves-red btn-flat">Back</a>
    </div>
</div>


<div id="modal2" class="modal">
    <div class="modal-content center">
        <h4 class="green">Enquired Successfully</h4>

    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>


{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    function fetchdata(e) {
        var modal = M.Modal.getInstance(document.getElementById('modal1'));
        const id = e.target.id

        const txtId = document.getElementById('txtId');
        const txtName = document.getElementById('coursetitle')
        // const txtVideoLink = document.getElementById('txtEditVideoLink')
        const txtDuration = document.getElementById('duration')
        const selQualification = document.getElementById('qualification')
        const selStatus = document.getElementById('status')
        const selCategory = document.getElementById('category')
        const selTrainer = document.getElementById('trainer')
        const txtDescription = document.getElementById('coursedescr')
        // const txtComment = document.getElementById('txtEditComment')

        fetch(`/api/courses/${id}`)
            .then(response => response.json())
            .then(data => {
                const course = data.course

                txtId.value = id
                txtName.innerText = course.name
                // txtVideoLink.innerText = course.videolink
                txtDuration.innerText = `${course.duration} weeks`
                
                selStatus.innerText = course.status?'Active':'Disabled'
                fetch(`/api/qualifications/${course.qualification}`)
                .then(response => response.json())
                .then(data => {
                    selQualification.innerText = data.qualification.qualification
                })
                fetch(`/api/categories/${course.category}`)
                .then(response => response.json())
                .then(data => {
                    selCategory.innerText = data.category.category
                })
                fetch(`/api/trainers/${course.trainer}`)
                .then(response => response.json())
                .then(data => {
                    selTrainer.innerText = data.trainer.name
                })
                
                txtDescription.innerText = course.description
                // txtComment.innerText = course.comment

            })

        modal.open()
    }

    function enquire() {
        const txtId = document.getElementById('txtId');
        fetch(`/api/enquiries/${txtId.value}`, {
            method: 'POST',
            credentials: 'include'
        })
        .then(response => response.json())
        .then(data => {
            // TODO: do something with the response
            // success or fail 
            var modal = M.Modal.getInstance(document.getElementById('modal2'));
            modal.open()
        })
    }
</script>
{% endblock %}