{% extends 'user/base.html' %}
{% import "search.html" as s %}
{% import "pagination.html" as pg %}

{% block title %}My Courses{% endblock %}

{% block style %}
{{ super() }}
<style>
    .card-action {

        border-top: 1px solid rgba(245, 241, 241, 0.5) !important;

    }

</style>
{% endblock %}


{% block content %}

<div class="container">

    <h4 class="center">My Courses</h4>


    <div class="row">
    {% if enrolled.items %}
        {% for course in enrolled.items %}
        <div class="col s12 m4">
          <div class="card large ">
            <div class="card-image">
              <img src="/static/images/books.jpg">
              
            </div>
            <div class="card-content" style="padding:2%">
                <h6 style="margin-top: 1%;">{{ courses[course.course].name }}</h6>
              <p>{{ courses[course.course].description }}</p>
            </div>
            <div class="card-action fit" style="border-top: 3px solid rgba(245, 241, 241, 0.5);">
                <button id="{{ course.id }}" class="btn right red" onclick="del(event)">Delete</button>
            </div>
          </div>
        </div>
       
             
        {% endfor %}

        {% else %}<br><br><br><h6 class="center ">No Courses are enrolled.</h6>
        {% endif %}
    </div>

    {{ pg.pagination(enrolled, 'user_bp.courses_get') }}

</div>


{% endblock %}

{% block scripts %}
{{ super() }}
<script>
   

    function del(event) {
        const id = event.target.id
        fetch(`/api/courses/${id}`)
        .then(res => res.json())
        .then(data => {
            if(confirm(`You sure you want to delete ${data.course.name}?`)){
                fetch(`/api/enrollments/${id}`, {
                    method: 'DELETE',
                    credentials: 'include'
                }).then(() => location.reload());
            }
        })
    }
</script>
{% endblock %}