{% extends 'user/base.html' %}
{% import "pagination.html" as pg %}

{% block title %}Profile{% endblock %}

{% block style %}
{{ super() }}
<style>



</style>
{% endblock %}


{% block content %}

<div class="container">
      <div class="jumbotron">
        <img style="max-width: 30%; height: auto;" class="circle" src="/static/images/profile.webp">
        <h1 class="display-4">{{ user.firstName }} {{ user.lastName }}</h1>
        <p class="lead">{{ user.email }}</p>
        <p class="lead">{{ user.phone }} 
        <hr class="my-4">
        <h5>Qualification <a href="#edit-qual-modal" class="waves-effect waves-light modal-trigger btn light-blue" style="border: none;"><i class="material-icons">edit</i></a></h5>
        {% for q in user_quals %}
        <p>{{ quals[q.qualification] }}</p>
        {% endfor %}
        <!-- <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Edit</a>

        </p> -->
      </div>

</div>



<div id="edit-qual-modal" class="modal">
    <div class="modal-content">
        <form action="" method="post" name="editForm">
            <div class="input-field">
                <select name="qual" id="editQual">
                    {% for id, qual in quals.items() %}
                        <option value="{{ id }}">{{ qual }}</option>
                    {% endfor %}
                </select>
                <label>Add Qualification</label>
            </div>        
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="modal-close waves-effect waves-green btn-flat red">Cancel</a>
        <a href="#" class="waves-effect waves-green btn-flat green" onclick="editConfirm()">Save</a>
    </div>
</div>




{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    function editConfirm() {
        if (document.editForm.checkValidity()){
            document.editForm.submit()
        } else {
            document.editForm.reportValidity()
        }
    } 
</script>
{% endblock %}