{% extends 'admin/base.html' %}
{% import "pagination.html" as pg %}

{% block title %}Courses{% endblock %}

{% block style %}
{{ super() }}
    <style>
        #course-detail .details {
            width: 50%;
            display: inline-block;
        }

        #course-detail .desc {
            width: 50%;
            display: inline-block;
        }
    </style>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-content row" id="course-detail" style="display: none;"></div>
        </div>
        <div class="card">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Duration (weeks)</th>
                        <th>Trainer</th>
                        <td id="rows-select">{{ pg.rows(courses, 'admin_bp.courses_get') }}</td>
                    </tr>
                </thead>
                <tbody>
                    {% for course in courses.items %}
                        <tr id="{{ course.id }}">
                            <td>{{ course.name }}</td>
                            <td>{{ course.durationWeeks }}</td>
                            <td>{{ course.trainer }}</td>
                            <td></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>    
{% endblock %}

{% block scripts %}
{{ super() }}
    <!-- <script src="static/js/courselist.js"></script> -->
{% endblock %}
