{% extends 'admin/base.html' %}
{% import "pagination.html" as pg %}
{% import "search.html" as s %}


{% block title %}Enquiries{% endblock %}

{% block content %}

    <div class="container">
        <div class="card">
            <div class="row">
                <div class="col s11">
                    {{ s.search('admin_bp.enquiries_get') }}
                </div>
                <div class="col s1">
                    {{ pg.rows(enquiries, 'admin_bp.enquiries_get') }}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <table id="enquiries">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Course</th>
                            <th>Descriprtion</th>
                            <th>Status</th>
                            <th>Actions</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for enquiry in enquiries.items %}
                            <tr id="{{ enquiry.id }}">
                                <td class="user">{{ users[enquiry.user] }}</td>
                                <td class="course">{{ courses[enquiry.course] }}</td>
                                <td class="desc">{{ enquiry.description }}</td>
                                {% if enquiry.status==False %}
                                    <td class="status">Pending</td>
                                {% else %}
                                    <td class="status">Approved</td>
                                {% endif %}
                                <td class="actions center" colspan="2">
                                    {% if enquiry.status==False %}
                                        <a href="#" class="waves-effect waves-light btn indigo accent-4" onclick="edit({{ enquiry.id }}, {{enquiry.user}}, {{enquiry.course}})">Edit<i class="material-icons left">edit</i></a>
                                    {% else %}
                                        <i class="material-icons green-text">checked</i>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {{ pg.pagination(enquiries, 'admin_bp.enquiries_get') }}
    </div>

    <div id="edit-enquiry-modal" class="modal">
        <div class="modal-content">
            <form action="/admin/enquiries" method="post" name="editForm">
                <input type="hidden" id="editId" name="id">
                <input type="hidden" id="editUserId" name="user_id">
                <input type="hidden" id="editCourseId" name="course_id">
                <label>User: <input disabled type="text" name="user" id="editUser" required></label>
                <label>Course: <input disabled type="text" name="course" id="editCourse" required></label>
                <label>Description: <input disabled type="text" name="description" id="editdescription" required></label>
                <div class="input-field">
                    <select name="status" id="editStatus">
                        <option value="true">Approved</option>
                        <option value="false">Pending</option>
                    </select>
                    <label>Status</label>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="modal-close waves-effect waves-green btn-flat red">Cancel</a>
            <a href="#" class="waves-effect waves-green btn-flat green" onclick="editConfirm()">Save</a>
        </div>
    </div>

{% endblock %}

{% block scripts %}
{{ super() }}
    <script>
        function edit(id, user_id, course_id) {
            fetch(`/api/enquiries/${id}`)
            .then(response => response.json())
            .then((data) => {
                var modal = M.Modal.getInstance(document.getElementById('edit-enquiry-modal'));

                const Id = document.getElementById('editId');
                const user_Id = document.getElementById('editUserId');
                const course_Id = document.getElementById('editCourseId');
                const user = document.getElementById('editUser');
                const course = document.getElementById('editCourse');
                const description = document.getElementById('editdescription');
                const status = document.getElementById('editStatus');
                console.log(data);

                Id.value = id;
                user_Id.value = user_id;
                course_Id.value = course_id;
                fetch(`/api/users/${data.enquiry.user}`)
                .then(response => response.json())
                .then(data => {
                    user.value = data.user.email;
                })
                fetch(`/api/courses/${data.enquiry.course}`)
                .then(response => response.json())
                .then(data => {
                    course.value = data.course.name;
                })
                description.value = data.enquiry.description;
                status.value = `${data.enquiry.status}`;
                console.log(status.value);
                if (typeof(Event) === 'function') {
                    var event = new Event('change');
                } else {  // for IE11
                    var event = document.createEvent('Event');
                    event.initEvent('change', true, true);
                }
                status.dispatchEvent(event);
                
                
                modal.open();
            })
        }

        function del(id) {
            fetch(`/api/enquiries/${id}`)
            .then(response => response.json())
            .then((data) => {
                if (confirm(`You sure you want to delete the enquiry: ${data.enquiry.user}, description: ${data.enquiry.description}?`)){
                    fetch(`/api/enquiries/${id}`, {
                        method: 'DELETE',
                        credentials: 'include'
                    }).then(() => location.reload());
                }
            })
        }

        function editConfirm() {
            if (document.editForm.checkValidity()){
                document.editForm.submit()
            } else {
                document.editForm.reportValidity()
            }
        }   
    </script>
{% endblock %}