{% extends 'admin/base.html' %}
{% import "pagination.html" as pg %}
{% import "search.html" as s %}

{% block title %}Users{% endblock %}

{% block content %}

    <div class="container">
        <div class="card">
            <div class="row">
                <div class="col s11">
                    {{ s.search('admin_bp.users_get') }}
                </div>
                <div class="col s1">
                    {{ pg.rows(users, 'admin_bp.users_get') }}
                </div>
            </div>
        </div>
        <div class="card l8 m10 s12">
            <div class="card-content">
                <table id="users">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th width="250px">Actions</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users.items %}
                            <tr id="{{ user.id }}">
                                <td class="firstName">{{ user.firstName }}</td>
                                <td class="lastName">{{ user.lastName }}</td>
                                <td class="email">{{ user.email }}</td>
                                <td class="role">{{ roles[user.role] }}</td>
                                <td class="actions">
                                    <a href="#" class="waves-effect waves-light btn indigo accent-4" onclick="edit({{ user.id }})">Edit<i class="material-icons left">edit</i></a>
                                    <a href="#" class="waves-effect waves-light btn red" onclick="del({{ user.id }})">Delete<i class="material-icons left">delete</i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {{ pg.pagination(users, 'admin_bp.users_get') }}
    </div>

    <div id="edit-user-modal" class="modal">
        <div class="modal-content">
            <form action="/admin/users" method="post" name="editForm">
                <input type="hidden" id="editId" name="id">
                <label>First Name: <input type="text" name="firstName" id="editFname" required></label>
                <label>Last Name: <input type="text" name="lastName" id="editLname" required></label>
                <label>Email: <input type="text" name="email" id="editEmail" required></label>
                <div class="input-field">
                    <select name="role" id="editRole">
                        {% for id, role in roles.items() %}
                            <option value="{{ id }}">{{ role }}</option>
                        {% endfor %}
                    </select>
                    <label>Role</label>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="modal-close waves-effect waves-green btn-flat red">Cancel</a>
            <a href="#" class="waves-effect waves-green btn-flat green" onclick="editConfirm()">Save</a>
        </div>
    </div>

{% endblock %}

{% block scripts %}
{{ super() }}
    <script>
        function edit(id) {
            fetch(`/api/users/${id}`)
            .then(response => response.json())
            .then((data) => {
                var modal = M.Modal.getInstance(document.getElementById('edit-user-modal'));

                const Id = document.getElementById('editId');
                const fName = document.getElementById('editFname');
                const lName = document.getElementById('editLname');
                const email = document.getElementById('editEmail');
                const role = document.getElementById('editRole');
                console.log(data);

                Id.value=id;
                fName.value = data.user.firstname;
                lName.value = data.user.lastname;
                email.value = data.user.email;
                role.value = `${data.user.role}`
                if (typeof(Event) === 'function') {
                    var event = new Event('change');
                } else {  // for IE11
                    var event = document.createEvent('Event');
                    event.initEvent('change', true, true);
                }
                role.dispatchEvent(event);
                
                
                modal.open();
            })
        }

        function del(id) {
            fetch(`/api/users/${id}`)
            .then(response => response.json())
            .then((data) => {
                if (confirm(`You sure you want to delete the user: ${data.user.firstname}, email: ${data.user.email}?`)){
                    fetch(`/api/users/${id}`, {
                        method: 'DELETE',
                        credentials: 'include'
                    }).then(() => location.reload());
                }
            })
        }

        function editConfirm() {
            if (document.editForm.checkValidity()){
                document.editForm.submit()
            } else {
                document.editForm.reportValidity()
            }
        }   
    </script>
{% endblock %}