{% extends 'admin/base.html' %}

{% block title %}users{% endblock %}

{% block content %}

    <div class="container">
        <div class="card">
            <div class="card-content">
                <table id="users">
                    <thead>
                        <tr>
                            <th>Fist Name</th>
                            <th>last Name</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users.items %}
                            <tr id="{{ user.id }}">
                                <td class="firstName">{{ user.firstName }}</td>
                                <td class="lastName">{{ user.lastName }}</td>
                                <td class="email">{{ user.email }}</td>
                                <td class="role">{{ user.role }}</td>
                                <td class="actions">
                                    <a href="#" class="waves-effect waves-light btn indigo accent-4" onclick="edit({{ user.id }})">Edit<i class="material-icons left">edit</i></a>
                                    <a href="#" class="waves-effect waves-light btn red" onclick="del({{ user.id }})">Delete<i class="material-icons left">delete</i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% if users.pages != 0 %}
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <div class="col s1"></div>
                    <div class="col s10 center">
                        <ul class="pagination">
                            <li class="{% if users.page == 1 %}disabled{% endif %}"><a href="{{ url_for('admin_bp.users_get', page=users.prev_num, rows=request.args.get('rows', 10)) }}"><i class="material-icons">chevron_left</i></a></li>
                            {% for page_num in users.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                                {% if page_num %}
                                    <li class="{% if users.page == page_num %}active indigo accent-4{% else %}waves-effect{% endif %}"><a href="{{ url_for('admin_bp.users_get', page=page_num, rows=request.args.get('rows', 10)) }}">{{ page_num }}</a></li>
                                {% else %}
                                    ...
                                {% endif %}
                            {% endfor %}
                            <li class="{% if users.page == users.pages %}disabled{% endif %}"><a href="{{ url_for('admin_bp.users_get', page=users.next_num, rows=request.args.get('rows', 10)) }}"><i class="material-icons">chevron_right</i></a></li>
                        </ul>
                        <div class="grey-text text-darken-2">
                            Showing page {{ users.page }} of {{ users.pages }}
                        </div>
                    </div>
                    <div class="input-field col s1">
                        <select onchange="pageRows(event)">
                            {% for i in [5, 10, 20, 50, 100] %}
                            <option {% if users.per_page == i %}selected{% endif %} value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                      </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

    <div id="edit-user-modal" class="modal">
        <div class="modal-content">
            <form action="/admin/users" method="post" name="editForm">
                <input type="hidden" id="editId" name="id">
                <label>First Name: <input type="text" name="firstName" id="editFname" required></label>
                <label>Last Name: <input type="text" name="lastName" id="editLname" required></label>
                <label>Email: <input type="text" name="email" id="editEmail" required></label>
                <div class="input-field">
                    <select name="role" id="editRole">
                        {% for role in roles %}
                            <option value="{{ role.id }}">{{ role.role }}</option>
                        {% endfor %}
                    </select>
                    <label>Role</label>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="modal-close waves-effect waves-green btn-flat red">Cancel</a>
            <a href="#" class="waves-effect waves-green btn-flat green" onclick="editConfirm()">Save</a>
        </div>
    </div>

{% endblock %}

{% block scripts %}
{{ super() }}
    <script>
        function edit(id) {
            fetch(`/api/users/${id}`)
            .then(response => response.json())
            .then((data) => {
                var modal = M.Modal.getInstance(document.getElementById('edit-user-modal'));

                const Id = document.getElementById('editId');
                const fName = document.getElementById('editFname');
                const lName = document.getElementById('editLname');
                const email = document.getElementById('editEmail');
                const role = document.getElementById('editRole');

                Id.value=id;
                fName.value = data.user.firstName;
                lName.value = data.user.lastName;
                email.value = data.user.email;
                role.value = `${data.user.role}`
                if (typeof(Event) === 'function') {
                    var event = new Event('change');
                } else {  // for IE11
                    var event = document.createEvent('Event');
                    event.initEvent('change', true, true);
                }
                role.dispatchEvent(event);
                
                
                modal.open();
            })
        }

        function del(id) {
            fetch(`/api/users/${id}`)
            .then(response => response.json())
            .then((data) => {
                if (confirm(`You sure you want to delete the user: ${data.user.firstname}, email: ${data.user.email}?`)){
                    fetch(`/api/users/${id}`, {
                        method: 'DELETE',
                        credentials: 'include'
                    }).then(() => location.reload());
                }
            })
        }

        function editConfirm() {
            if (document.editForm.checkValidity()){
                document.editForm.submit()
            } else {
                document.editForm.reportValidity()
            }
        }

        function pageRows(event) {
            const rows = event.target.value
            window.location.href = `/admin/users?rows=${rows}`
        }
    </script>
{% endblock %}