<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course List</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <style>
        #course-detail .details {
            width: 50%;
            display: inline-block;
        }

        #course-detail .desc {
            width: 50%;
            display: inline-block;
        }
    </style>

    <script>
        const page = 'courselist'
    </script>
</head>
<body>
    <!-- navbar -->
    <nav>
        <div class="nav-wrapper indigo darken-4">
            <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
            <a href="#" class="brand-logo">CRM</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#">Logout</a></li>
            </ul>
        </div>
    </nav>

    <!-- navdrawer -->
    <ul id="slide-out" class="sidenav"></ul>
    <div class="container">
        <div class="card">
            <div class="card-content row" id="course-detail" style="display: none;"></div>
        </div>
        <div class="card">
            <table>
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Trainer</th>
                        <th>Start Date</th>
                    </tr>
                </thead>
                <tbody id="courselist"></tbody>
            </table>
        </div>
    </div>    

    <script src="../js/courselist.js"></script>
    <script src="../js/navdrawer.js"></script>   
</body>
</html>