{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<!-- navdrawer -->
{% include 'navdrawer.html' %}

<div class="container">
    <div class="card">
        <div class="card-content">
            <table id="users">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Country</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Lindsey Stroud</td>
                        <td>lindsey.stroud@gmail.com</td>
                        <td>Spain</td>
                    </tr>
                    <tr>
                        <td>Nicci Troiani</td>
                        <td>niccitroiani@gmail.com</td>
                        <td>UAE</td>
                    </tr>
                    <tr>
                        <td>George Fields</td>
                        <td>george.fields@gmail.com</td>
                        <td>Qatar</td>
                    </tr>
                    <tr>
                        <td>Rebecca Moore</td>
                        <td>rebecca.moore@gamil.com</td>
                        <td>USA</td>
                    </tr>
                    <tr>
                        <td>Jane Doe</td>
                        <td>jane.doe@gmail.com</td>
                        <td>Canada</td>
                    </tr>
                    <tr>
                        <td>Lindsey Stroud</td>
                        <td>lindsey.stroud@gmail.com</td>
                        <td>Spain</td>
                    </tr>
                    <tr>
                        <td>Nicci Troiani</td>
                        <td>niccitroiani@gmail.com</td>
                        <td>UAE</td>
                    </tr>
                    <tr>
                        <td>George Fields</td>
                        <td>george.fields@gmail.com</td>
                        <td>Qatar</td>
                    </tr>
                    <tr>
                        <td>Rebecca Moore</td>
                        <td>rebecca.moore@gamil.com</td>
                        <td>USA</td>
                    </tr>
                    <tr>
                        <td>Jane Doe</td>
                        <td>jane.doe@gmail.com</td>
                        <td>Canada</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
   

{% endblock %}