{% extends 'auth/base.html' %}
{% block title %}Login{% endblock %}

{% block style %}
{{ super() }}
    <style>
    </style>
{% endblock %}


{% block content %}

  
<div style="position: fixed; width:100%; height:100%;">
  
  {% with messages = get_flashed_messages(with_categories=true) %} 
    {% if messages %} 
      {% for category, message in messages %} 
          {% if category == 'error' %}
          <div class="row" id="alert_box" style="position: absolute; width:300px; margin-left:42%">
            <div class="col s6 m8 l12">
              <div class="card red darken-1">
                <div class="row">
                  <div class="col">
                    <div class="card-content white-text">
                      <p>{{ message }}</p>
                  </div>
                </div>
                <div class="col s12 m2">
                  <i class="fa fa-times icon_style" id="alert_close" aria-hidden="true"></i>
                </div>
              </div>
            </div>
            </div>
          </div>
          {% endif %} 
      {% endfor %} 
    {% endif %} 
  {% endwith %}  
  

  <img src="/static/images/crm.jpg" alt="logo-img" style="width: 100px; height: auto; margin-left: 2%;">
  <h4 class="login-msg center" style="color: indigo; margin-top: 5%;">Login to your account</h4>
  <div class="container" align="middle" style="margin-top: 3%;">
    <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
      <form class="col s12" method="post">
        <div class="row">
          <div class="input-field col s12">
            <input name="email" type="email" class="validate" style="width: 300px;">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input name="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div>

        <br />
          <center>
            <div class='row'>
              <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>Login</button>
            </div>
          </center>
      </form>
    </div>
  </div>
  <p align="middle"><a href="{{url_for('auth_bp.register')}}">Create account</a></p>
</div>

{% endblock %}


{% block scripts %}
{{ super() }}
{% endblock %}