{% extends 'auth/base.html' %}
{% block title %}Login{% endblock %}

{% block style %}
{{ super() }}
    <style>
    </style>
{% endblock %}


{% block content %}

<img src="/static/images/crm.jpg" alt="logo-img" style="width: 100px; height: auto; margin-left: 2%;">
<h4 class="login-msg center" style="color: indigo; margin-top: 5%;">Login to your account</h4>
<div class="container" align="middle" style="margin-top: 3%;">
  <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
    <form class="col s12" method="post">
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
        <label style='float: right;'>
          <a class='pink-text' href='#!'><b>Forgot Password?</b></a>
        </label>
      </div>

      <br />
        <center>
          <div class='row'>
            <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>Login</button>
          </div>
        </center>
    </form>
  </div>
</div>
<p align="middle"><a href="register.html">Create account</a></p>
    

{% endblock %}



















<!-- 
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>

  <body> 
    <img src="../images/crm.jpg" alt="logo-img" style="width: 100px; height: auto; margin-left: 2%;">
    <h4 class="login-msg" align="middle" style="color: indigo; margin-top: 5%;">Login to your account</h4>
    <div class="container" align="middle" style="margin-top: 3%;">
      <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
        <form class="col s12" method="post">
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate">
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate">
              <label for="password">Password</label>
            </div>
            <label style='float: right;'>
              <a class='pink-text' href='#!'><b>Forgot Password?</b></a>
            </label>
          </div>

          <br />
            <center>
              <div class='row'>
                <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>Login</button>
              </div>
            </center>
        </form>
      </div>
    </div>
    <p align="middle"><a href="register.html">Create account</a></p>
      
  </body>
</html> -->