<ul id="slide-out" class="sidenav">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="/static/images/books.jpg">
            </div>
            <a href="#user"><img class="circle" src="/static/images/profile.webp"></a>
            <a href="#name"><span class="white-text name">John Doe</span></a>
            <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
        </div>
    </li>
    <li><a href="/admin/">Dashboard</a></li>
    <li><a href="/admin/courses">Courses</a></li>
    <li><a href="/admin/qualifications">Qualifications</a></li>
    <li><a href="/admin/batches">Batches</a></li>
    <li><a href="/admin/categories">Categories</a></li>
    <li><a href="/admin/users">Users</a></li>
</ul>