<ul id="slide-out" class="sidenav">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="/static/images/books.jpg">
            </div>
            <a href="#user"><img class="circle" src="/static/images/profile.webp"></a>
            <a href="#name"><span class="white-text name">{{ user.firstName }} {{ user.lastName }}</span></a>
            <a href="#email"><span class="white-text email">{{ user.email }}</span></a>
        </div>
    </li>
    <li><a href="/admin" {% if request.path == '/admin/' %}class="active indigo accent-1"{% endif %}><i class="material-icons">dashboard</i>Dashboard</a></li>
    <li><a href="/admin/courses" {% if request.path == '/admin/courses' %}class="active indigo accent-1"{% endif %}><i class="material-icons">book</i>Courses</a></li>
    <li><a href="/admin/qualifications" {% if request.path == '/admin/qualifications' %}class="active indigo accent-1"{% endif %}><i class="material-icons">workspace_premium</i>Qualifications</a></li>
    <!-- <li><a href="/admin/batches" {% if request.path == '/admin/batches' %}class="active indigo accent-1"{% endif %}><i class="material-icons">groups</i>Batches</a></li> -->
    <li><a href="/admin/categories" {% if request.path == '/admin/categories' %}class="active indigo accent-1"{% endif %}><i class="material-icons">category</i>Categories</a></li>
    <li><a href="/admin/enquiries" {% if request.path == '/admin/enquiries' %}class="active indigo accent-1"{% endif %}><i class="material-icons">contact_support</i>Enquiries</a></li>
    <li><a href="/admin/trainers" {% if request.path == '/admin/trainers' %}class="active indigo accent-1"{% endif %}><i class="material-icons">school</i>Trainers</a></li>
    <li><a href="/admin/users" {% if request.path == '/admin/users' %}class="active indigo accent-1"{% endif %}><i class="material-icons">manage_account</i>Users</a></li>
</ul>